<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDICAL - BLOG</title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&family=Lalezar&family=Lato:wght@400;700&display=swap" rel="stylesheet">    <!--swiper-->
    <!--swiper-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <!--fontawsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <!--plyr-->
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.10/plyr.css" />
    <!--main style sheet-->
    <link rel="stylesheet" href="../styles/blog.css">
</head>
<body>
    <!---------------------------------- nav menus ------------------------------------------>
    <div class="side-nav">
        <div class="nav-top">
            <div>
                <a href="#" class="brand"><img src="../images/logo2.png" alt="log">MEDICAL</a>
            </div>
            
            <div class="burger burger-squeeze">
                <div class="burger-lines"></div>
            </div>
        </div>
        <div class="side-navabar">
            <a href="#" class="brand"><img src="../images/logo2.png" alt="log">MEDICAL</a>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">DOCTORS</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">BLOG</a></li>
            </ul>
            <button type="button" class="btn btn-primary-1 appointment-button" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><span>BOOK APPOINTMENT</span><div class="btn-overlay"></div></button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">BOOk APPOINTMENT</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="patient-name" class="col-form-label sr-only sr-only-focusable">Your Full Name</label>
                                    <input type="text" class="form-control" id="patient-name" placeholder="Your Full Name...">
                                </div>
                                <div class="form-group">
                                    <label for="email-address" class="col-form-label sr-only sr-only-focusable">Your Email Address</label>
                                    <input type="email" class="form-control" id="email-address" placeholder="Your Email Address...">
                                </div>
                                <div class="form-group">
                                    <label for="phone-number" class="col-form-label sr-only sr-only-focusable">Your Phone Number</label>
                                    <input type="number" class="form-control" id="phone-number" placeholder="Your Phone Number...">
                                </div>
                                <div class="form-group date-group">
                                    <label for="appointment-date" class="col-form-label"><span class="sr-only sr-only-focusable">Appointment Date</span><i class="far fa-calendar-alt date-icon"></i></label>
                                    <input type="date" class="form-control date-input" id="appointment-date" placeholder="Appointment Date...">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label sr-only sr-only-focusable">Message:</label>
                                    <textarea class="form-control" id="message-text" placeholder="Your Message..."></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary-1"><span>BOOK NOW</span><div class="btn-overlay"></div></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-modal-backdrop"></div>
        </div>
        <div class="page-overlay"></div>
    </div>
    
    <nav class="wide-nav">
        <div class="container-lg">
            <div class="row first-row">
                <p class="schedule"><i class="far fa-clock"></i> <span>Schedule :</span> Monday - Saturday - 8:00 - 18:00, Sunday -  8:00 - 14:00</p>
                <div class="nav-contact">    
                    <a href="mailto:agentavery@sample.com?" subject="HTML link"><i class="fas fa-envelope-open-text"></i> info@mediacl.com</a>
                    <span itemprop="telephone"><a href="tel:#"><i class="fas fa-phone-square-alt"></i> 000-000-0000</a></span>
                </div>
                <span class="wide-line col-12"></span>
            </div>
            <div class="row">
                <div class="large-screen-nav">
                    <a href="#" class="brand"><img src="../images/logo.png" alt="log">MEDICAL</a>
                    <div class="right-nav">
                        <ul>
                            <li><a href="../index.html">HOME</a></li>
                            <li><a href="#">SERVICES</a></li>
                            <li><a href="#">DOCTORS</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">CONTACT</a></li>
                            <li><a href="#">BLOG</a></li>
                        </ul>
                        <button type="button" class="btn btn-primary-1 appointment-button" data-toggle="modal" data-target="#exampleModal2" data-whatever="@getbootstrap"><span>BOOK APPOINTMENT</span><div class="btn-overlay"></div></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!----------------------- modal of appointment ----------------------------->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">BOOk APPOINTMENT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="patient-name-1" class="col-form-label sr-only sr-only-focusable">Your Full Name</label>
                            <input type="text" class="form-control" id="patient-name-1" placeholder="Your Full Name...">
                        </div>
                        <div class="form-group">
                            <label for="email-address-1" class="col-form-label sr-only sr-only-focusable">Your Email Address</label>
                            <input type="email" class="form-control" id="email-address-1" placeholder="Your Email Address...">
                        </div>
                        <div class="form-group">
                            <label for="phone-number-1" class="col-form-label sr-only sr-only-focusable">Your Phone Number</label>
                            <input type="number" class="form-control" id="phone-number-1" placeholder="Your Phone Number...">
                        </div>
                        <div class="form-group date-group">
                            <label for="appointment-date-1" class="col-form-label"><span class="sr-only sr-only-focusable">Appointment Date</span><i class="far fa-calendar-alt date-icon"></i></label>
                            <input type="date" class="form-control date-input" id="appointment-date-1" placeholder="Appointment Date...">
                        </div>
                        <div class="form-group">
                            <label for="message-text-1" class="col-form-label sr-only sr-only-focusable">Message:</label>
                            <textarea class="form-control" id="message-text-1" placeholder="Your Message..."></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary-1"><span>BOOK NOW</span><div class="btn-overlay"></div></button>
                </div>
            </div>
        </div>
    </div>

    <!----------------------- header ----------------------------->
    <header>
        <img src="../images/blog-header.jpg" alt="header image" class="header-image">
        <div class="header-overlay"></div>
        <p>BLOG NEW</p>
        <h1>WHAT'S NEW IN MEDICAL</h1>

        <img src="../images/header-logo.jpg" alt="header logo" class="header-logo">
    </header>


    <!----------------------- main ----------------------------->
    <div class="top-main">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-8">
                    <p>HOME > <span>BLOG</span></p>
                </div>
                <div class="col-md-4">
                    <form>
                        <input type="search" placeholder="Search" aria-label="Search">
                        <button type="submit">GO</button>
                      </form>
                </div>
                <span class="wide-line col-12"></span> 
            </div>
        </div>
    </div>
    <div class="container-lg">
        <div class="row">
            <div class="col-md-8">
                <main>
                    <div class="blogs">
                        <div class="blog">
                            <img src="../images/clinic.jpeg" alt="clinic">
                            <h2>We are having department  added to us</h2>
                            
                            <div class="blog-data">
                                <p class="author"> by: <span>person</span></p>
                                <p>on: <time datetime="2020-04-12 20:00">12<span class="superscript">TH</span> ABRIL 2020</time> </p>
                                <p class="comments">COMMENTS: <span>25</span></p>
                            </div>

                            <p class="blog-pargraph">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
        
                            <a href="#" class="btn btn-primary-1"><span>READ MORE</span><div class="btn-overlay"></div></a>
                            <span class="wide-line"></span>
                        </div>
            
                        <div class="blog">
                            <h2>i'm heading title for simple blog</h2>
                            
                            <div class="blog-data">
                                <p class="author"> by: <span>person</span></p>
                                <p>on: <time datetime="2020-04-12 20:00">12<span class="superscript">TH</span> ABRIL 2020</time> </p>
                                <p class="comments">COMMENTS: <span>25</span></p>
                            </div>

                            <p class="blog-pargraph">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
        
                            <a href="#" class="btn btn-primary-1"><span>READ MORE</span><div class="btn-overlay"></div></a>
                            <span class="wide-line"></span>
                        </div>
            
                        <div class="blog">
                            <!-- Swiper -->
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img src="../images/blog-swiper-1.jpg" alt="1"></div>
                                    <div class="swiper-slide"><img src="../images/blog-swiper-2.jpg" alt="2"></div>
                                    <div class="swiper-slide"><img src="../images/blog-swiper-3.png" alt="3"></div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                            <h2>I'm gallery post title</h2>
                            
                            <div class="blog-data">
                                <p class="author"> by: <span>person</span></p>
                                <p>on: <time datetime="2020-04-12 20:00">12<span class="superscript">TH</span> ABRIL 2020</time> </p>
                                <p class="comments">COMMENTS: <span>25</span></p>
                            </div>
                            <p class="blog-pargraph">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
        
                            <a href="#" class="btn btn-primary-1"><span>READ MORE</span><div class="btn-overlay"></div></a>
                            <span class="wide-line"></span>
                        </div>
            
                        <div class="blog">
                             <video poster="../images/clinic.jpeg" id="player" playsinline controls>
                                <source src="../video/video.mp4" type="video/mp4" />
                                <!-- <source src="/path/to/video.webm" type="video/webm" /> -->
                             
                                <!-- Captions are optional -->
                                <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default /> -->
                            </video>
                            
                            <h2>I'm video post title</h2>
                            
                            <div class="blog-data">
                                <p class="author"> by: <span>person</span></p>
                                <p>on: <time datetime="2020-04-12 20:00">12<span class="superscript">TH</span> ABRIL 2020</time> </p>
                                <p class="comments">COMMENTS: <span>25</span></p>
                            </div>
                            <p class="blog-pargraph">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
        
                            <a href="#" class="btn btn-primary-1"><span>READ MORE</span><div class="btn-overlay"></div></a>
                            <span class="wide-line"></span>
                        </div>
            
                        <div class="blog">
                            <iframe width="100%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/424032182&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                            
                            <h2>I'm Audio post title</h2>
                            
                            <div class="blog-data">
                                <p class="author"> by: <span>person</span></p>
                                <p>on: <time datetime="2020-04-12 20:00">12<span class="superscript">TH</span> ABRIL 2020</time> </p>
                                <p class="comments">COMMENTS: <span>25</span></p>
                            </div>

                            <p class="blog-pargraph">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
        
                            <a href="#" class="btn btn-primary-1"><span>READ MORE</span><div class="btn-overlay"></div></a>
                            <span class="wide-line"></span>
                        </div>
            
                        <div class="blog">
                            <div class="link-to-other-blog">
                                <span class="vertical-line"></span>
                                <p class="quote">
                                    " <span>We are having new department added to us</span> "
                                </p>
                                <a href="#">-source of quote</a>
                            </div>
                            <h2><i class="fas fa-link"></i> I'm link post title example</h2>
                            
                            <div class="blog-data">
                                <p class="author"> by: <span>person</span></p>
                                <p>on: <time datetime="2020-04-12 20:00">12<span class="superscript">TH</span> ABRIL 2020</time> </p>
                                <p class="comments">COMMENTS: <span>25</span></p>
                            </div>

                            <p class="blog-pargraph">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
        
                            <a href="#" class="btn btn-primary-1"><span>READ MORE</span><div class="btn-overlay"></div></a>
                            <span class="wide-line"></span>
                        </div>
                    </div>
                    <div class="navigate-throw-blogs">
                        <span class="active">1</span><span>2</span><span>3</span>
                    </div>
                </main>
            </div>
            <div class="col-md-4">
                <aside>
                    <div class="categories">
                        <h3>categories</h3>
                        <span class="wide-line"></span>
                        <ul>
                            <li><a href="#">general</a></li>
                            <li><a href="#">health care</a></li>
                            <li><a href="#">cancer care</a></li>
                            <li><a href="#">Rehabilitation Centre</a></li>
                            <li><a href="#">cardiac clinic</a></li>
                            <li><a href="#">nurology</a></li>
                            <li><a href="#">dental care</a></li>
                        </ul>
                    </div>

                    <div class="recent-posts">
                        <h3>recent posts</h3>
                        <span class="wide-line"></span>

                        <div class="recent-post">
                            <div class="row">
                                <div class="col-5 col-md-12 col-xl-5">
                                    <img src="../images/clinic.jpeg" alt="clinic">
                                </div>

                                <div class="wrabber col-7 col-md-12 col-xl-7">
                                    <h4>We are having new department added to us</h4>
                                    <div class="blog-data">
                                        <p class="author"> by: <span>person</span></p>
                                        <p>on: <time datetime="2020-04-12 20:00">12<span class="superscript">TH</span> ABRIL 2020</time></p>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>

                        <div class="recent-post">
                            <div class="row">
                                <div class="col-5 col-md-12 col-xl-5">
                                    <img src="../images/research.jpeg" alt="clinic">
                                </div>

                                <div class="wrabber col-7 col-md-12 col-xl-7">
                                    <h4>EXPANDING our Reasearch and Development team</h4>
                                    <div class="blog-data">
                                        <p class="author"> by: <span>person</span></p>
                                        <p>on: <time datetime="2020-04-12 20:00">12<span class="superscript">TH</span> ABRIL 2020</time></p>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                    <div class="tags">
                        <h3>tags</h3>
                        <span class="wide-line"></span>
                        
                        <ul>
                            <li><a href="#">general</a></li>
                            <li><a href="#">health care</a></li>
                            <li><a href="#">cancer care</a></li>
                            <li><a href="#">Rehabilitation Centre</a></li>
                            <li><a href="#">cardiac clinic</a></li>
                            <li><a href="#">nurology</a></li>
                            <li><a href="#">dental care</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    
    

    


    <div id="online-free-booking">
        <div class="container-lg">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-9">
                    <h2>ONLINE HASSLE FREE Appointment BOOKING</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia, ipsum eu vulputate pulvinar,
                    </p>
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary-1 appointment-button" data-toggle="modal" data-target="#exampleModal2" data-whatever="@getbootstrap"><span>BOOK APPOINTMENT</span><div class="btn-overlay"></div></button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-lg">
            <div class="row">
                <div class="col-md-4 order-md-2">
                    <h2>SIGNUP NEWSLETTER</h2>
                    <form>
                        <label for="footer-form-name" class="sr-only sr-only-focusable">Name</label>
                        <input type="text" name="footer-form" id="footer-form-name" placeholder="Your Name" required>

                        <label for="footer-form-email" class="sr-only sr-only-focusable">Email</label>
                        <input type="email" name="footer-form" id="footer-form-email" placeholder="Your Email" required>

                        <button type="submit" class="btn btn-primary-1 appointment-button"><span>SUBMIT</span></button>
                    
                    </form>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <a href="#" class="brand d-none d-md-block"><img src="../images/logo.png" alt="log">MEDICAL</a>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <h3>HOME LINKS</h3>
                            <ul>
                                <li><a href="#">HOME</a></li>
                                <li><a href="#">SERVICES</a></li>
                                <li><a href="#">DOCTORS</a></li>
                                <li><a href="#">ABOUT</a></li>
                                <li><a href="#">BLOG</a></li>
                                <li><a href="#">CONTACT</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-2 pages">
                            <h3>PAGES</h3>
                            <ul>
                                <li><a href="#">BLOG</a></li>
                                <li><a href="#">DOCTORS</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-lg-4 other-links">
                            <ul>
                                <li><a href="#">TERMS & CONDITIONS</a></li>
                                <li><a href="#">PRIVACY POLICY</a></li>
                                <li><a href="#">LEGAL DISCLAIMER</a></li>
                                <li><a href="#">SITEMAP</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 other-links">
                            <ul>
                                <li>
                                    <address>
                                        <a href="#"><i class="fas fa-map-marked-alt"></i> Area  51 , Some near unknown, USA 000000</a>
                                    </address>
                                </li>
                                <li>
                                    <a href="mailto:agentavery@sample.com?" subject="HTML link"><i class="fas fa-envelope-open-text"></i> info@mediacl.com</a>
                                </li>
                                <li>
                                    <span itemprop="telephone"><a href="tel:#"><i class="fas fa-phone-square-alt"></i> 000-000-0000</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="footer-social-media col-md-8">
                    <a href="#"><span class="sr-only sr-only-focusable">twitter</span><i class="fab fa-twitter"></i></a>
                    <a href="#"><span class="sr-only sr-only-focusable">facebook</span><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><span class="sr-only sr-only-focusable">linkedin</span><i class="fab fa-linkedin"></i></a>
                    <a href="#"><span class="sr-only sr-only-focusable">pinterest</span><i class="fab fa-pinterest"></i></a>
                    <a href="#"><span class="sr-only sr-only-focusable">instagram</span><i class="fab fa-instagram"></i></a>
                    <a href="#"><span class="sr-only sr-only-focusable">youtube</span><i class="fab fa-youtube"></i></a>
                </div>
                <div class="copy-right col-md-4">
                    &copy; Mohamed Hany 2020.
                </div>
            </div>
        </div>
    </footer>
    <!--scripts-->
    <script src="../scripts/jquery-3.4.1.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <!--swiper-->
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <!--plyr-->
    <script src="https://cdn.plyr.io/3.5.10/plyr.js"></script>
    <!--main script-->
    <script src="../scripts/blog.js"></script>
</body>
</html>